.header {
	display: grid;
	grid-template-columns: 1fr 4fr 1fr;
	align-items: center;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 30px;
	background-color: #fff;
	padding-top: 26px;
	padding-bottom: 26px;
}

.title:global(.ant-typography) {
	margin: 0;
	font-family: var(--font-cairo);
}

.search {
	justify-self: center;
	max-width: 1023px;
	border: none;
	background-color: #f3f3f3;
	padding: 12px 20px;
}

.logout_button {
	padding: 22px 30px;
	justify-self: end;
}
