/* =========================
   CAIRO
========================= */

@font-face {
	font-family: 'Cairo';
	src: url('../../assets/fonts/Cairo-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Cairo';
	src: url('../../assets/fonts/Cairo-SemiBold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Cairo';
	src: url('../../assets/fonts/Cairo-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

/* =========================
   ROBOTO MONO
========================= */

@font-face {
	font-family: 'Roboto Mono';
	src: url('../../assets/fonts/RobotoMono-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

/* =========================
   OPEN SANS
========================= */

@font-face {
	font-family: 'Open Sans';
	src: url('../../assets/fonts/OpenSans-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../../assets/fonts/OpenSans-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

/* =========================
   INTER
========================= */

@font-face {
	font-family: 'Inter';
	src: url('../../assets/fonts/Inter-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Inter';
	src: url('../../assets/fonts/Inter-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Inter';
	src: url('../../assets/fonts/Inter-SemiBold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
